@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
body {
	font-family: 'Montserrat', sans-serif;
}
a {
	color: #000;
}
a:hover {
	color: #444;
	text-decoration: none;
}

/*Overrides*/
.navbar-brand {
	height: auto;
	padding: 0;
}
.navbar-brand > img {
	height: 50px;
	border: none;
}

button, input, select, textarea {
	max-width: 100%;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.navbar {
	margin-top: 10px;
}

.navbar-toggle .icon-bar {
	background-color: #000000;
}

.navbar-white {
	color: #000;
	background-color: #fff;
}

.nav-pills {
	color: #000;
	background-color: #f5f5f5;
	border-radius: 4px;	
}

.form-inline {
	display: inline-block;
}

.form-control {
	border: 2px solid #111;
	border-radius: 0;
}

.btn-default {
	border: 2px solid #111;
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;	
}

/*Overrides End*/
.error-page a {
 text-decoration: underline;
}

.navbar-breadcrumb {
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	padding: 15px 6px 15px;
}

.border-bottom {
	border-bottom: 1px solid #333;
}

.border-bottom-lite {
	border-bottom: 1px solid #eee;
}

.border-right {
	border-right: 1px solid #333;
}

.top-bottom-padding-md {
	padding-top: 50px;
	padding-bottom: 50px;
}

.top-padding-sm {
	padding-top: 25px;
}

.bottom-padding-sm {
	padding-bottom: 25px;
}

.bottom-padding-md {
	padding-bottom: 50px;
}

.left-right-padding-md {
	padding-left: 50px;
	padding-right: 50px;
}

.left-padding-sm {
	padding-left: 25px;
}

.right-padding-sm {
	padding-right: 25px;
}

.padding-md {
	padding: 50px;
}

.no-left-right-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-padding {
	padding: 0;
}

.no-left-right-margin {
	margin-left: 0;
	margin-right: 0;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

		.top-bottom-margin-lg {
			margin-top: 125px;
			margin-bottom: 125px;
		}

    .top-bottom-margin-md {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.top-margin-md {
			margin-top: 50px;
		}

		.top-margin-sm {
			margin-top: 25px;
		}

		.bottom-margin-xs {
			margin-bottom: 10px;
		}

		.bottom-margin-sm {
			margin-bottom: 25px;
		}

		.bottom-margin-md {
			margin-bottom: 75px;
		}

		.bottom-margin-lg {
			margin-bottom: 125px;
		}
}

.bg-black {
	height: 100%;
	color: #fefefe;
	background-color: #000;
}

.bg-black a {
	color: #fefefe;
}

.bg-dark-grey {
	height: 100%;
	color: #fefefe;
	background-color: #333;	
}

.bg-pink {
	height: 100%;
	color: #fefefe;
	background-color: #ee0077;
}

.bg-purple {
	height: 100%;
	color: #fefefe;
	background-color: #731471;
}

.bg-grey {
	height: 100%;
	color: #444;
	background-color: #ccc;
}

.bg-blue {
	height: 100%;
	color: #fff;
	background-color: #0a64a2;
}

.bg-img {
	height: 100%;
	background-size: contain;
	background-position: 50% 50%;
}

.bg-no-img {
	color: #fff;
	background-color: #dedede;
	font-size: 20px;
	padding: 60px 0;
}

.img-overlay {
	display: inline-block;
	position: relative;
}

.img-overlay img {
	vertical-align: top;
}

.img-overlay:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.4);
  opacity: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
}

.img-overlay:hover:after {
    opacity: 1;
}

.highlight {
	overflow: hidden;
}

.icon-lg {
	font-size: 48px;
}

.icon-md {
	font-size: 36px;
}

.icon-border-rd {
	border: 3px solid #000;
	border-radius: 50%;
	padding: 10px;
}

.icon-border-rd.bg-blue,
.icon-border-rd.bg-black {
	border: none;
}

#products-search,
#testimonials-search,
#stores-search,
#orders-search {
	margin-bottom: 15px;
}

#products-search label,
#testimonials-search label,
#stores-search label,
#orders-search label {
	font-weight: 400;
}

#products-search .form-control,
#testimonials-search .form-control,
#stores-search .form-control,
#orders-search .form-control {
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#products-search .btn-default,
#testimonials-search .btn-default,
#stores-search .btn-default,
#orders-search .btn-default {
	height: 34px;
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;	
}

#articles,
#products,
#testimonials,
#stores,
#orders,
#coupons,
#warranties {
	padding-top: 15px;
	border-top: 1px solid #eee;
}

#orders .btn {
	padding: 0;
}

#products > .col-md-4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

#products .img-box {
	height: auto;
}

#products .img-box > img{
	margin: 0 0 10px;
}

@media only screen 
and (min-width: 991px){
	#products .img-box {
		height: 195px;
	}
	#products .img-box > img{
		max-height: 195px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #products .desc-box > a {
		text-align: center;
	}
}

#products .desc-box > h2 {
	font-size: 14px;
	padding: 6px 8px;
	text-align: center;
	margin-top: 0;
}

#products .img-box > p {
	background-color: #eee;
	padding-top: 75px;
	padding-bottom: 75px;	
}

#products .babyhood,
#products .nuna {
	min-height: 150px;
}

.babyhood h2 {
	color: #fff;
	background-color: #0a64a2;
}

.nuna h2 {
	color: #fff;
	background-color: #000;
}

#articles a,
#products a,
#testimonials a,
#stores a,
#warranties a,
#coupons a,
#orders a {
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;
}

#testimonials h2 {
	padding: 5px;
}

#testimonial small > a {
	font-style: italic;
}

#testimonial .babyhood {
	height: auto;
	background-color: #0a64a2;	
}

#testimonial .babyhood a {
	color: #fefefe;
}

#testimonial .nuna {
	height: auto;
	background-color: #000;
}

#testimonial .nuna a {
	color: #fefefe;
}

#product .product-display-img {
	height: 400px;
}

#articles .col-md-6 {
	margin-bottom: 20px;
}

/*#articles .col-md-6:hover {
	background-color: #f6f6f6;
}*/

#getintouch .form-control,
#checkout .form-control, {
	border: 2px solid #111;
	border-radius: 0;
}

#getintouch .btn-default,
#checkout .btn-default {
	border: 2px solid #111;
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;	
}

#stores {
	height: 100%;
	min-height: 100%;
}

#map {
	height: 500px;
}

/*Map*/

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

/*end map*/

#footer {
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#footer a {
	color: #fff;
}
#footer p {
	margin: 0;
}

#scrollTop {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	background-color: rgba(255,255,252,0.5);
}
#scrollTop:hover {
	text-decoration: underline;
}